<!-- Example row of columns -->
<div class="row">
	<a href="javascript:navigateToComments(0)">
		<div class="col-md-4">
			<h2>
				<%= classTitles[0] %>
			</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
				ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
			<p>
				<img name="ratingImage0" src="<%= imageUrls[0] %>" />
			</p>

			<p>
				<a href="javascript:navigateToComments(0)">
					COMMENTS:
					<%= commentCounts[0] %>
				</a>
			</p>
		</div>
	</a>
	<a href="javascript:navigateToComments(1)">
		<div class="col-md-4">
			<h2>
				<%= classTitles[1] %>
			</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
				ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
			<p>
				<img name="ratingImage1" src="<%= imageUrls[1] %>" />
			</p>

			<p>
				<a href="javascript:navigateToComments(1)">
					COMMENTS:
					<%= commentCounts[1] %>
				</a>
			</p>
		</div>
	</a>
	<a href="javascript:navigateToComments(2)">
		<div class="col-md-4">
			<h2>
				<%= classTitles[2] %>
			</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
				ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
			<p>
				<img name="ratingImage2" src="<%= imageUrls[2] %>" />
			</p>

			<p>
				<a href="javascript:navigateToComments(2)">COMMENTS:
					<%= commentCounts[2] %>
						<a/>
			</p>
		</div>
		</a>
		<a href="javascript:navigateToComments(3)">
			<div class="col-md-4">
				<h2>
					<%= classTitles[3] %>
				</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
					nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				<p>
					<img name="ratingImage3" src="<%= imageUrls[3] %>" />
				</p>

				<p>
					<a href="javascript:navigateToComments(5)">
						COMMENTS:
						<%= commentCounts[3] %>
					</a>
				</p>
			</div>
		</a>
		<a href="javascript:navigateToComments(4)">
			<div class="col-md-4">
				<h2>
					<%= classTitles[4] %>
				</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
					nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				<p>
					<img name="ratingImage4" src="<%= imageUrls[4] %>" />
				</p>

				<p>
					<a href="javascript:navigateToComments(4)">
						COMMENTS:
						<%= commentCounts[4] %>
					</a>
				</p>
			</div>
		</a>
		<a href="javascript:navigateToComments(5)">
			<div class="col-md-4">
				<h2>
					<%= classTitles[5] %>
				</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
					nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				<p>
					<img name="ratingImage5" src="<%= imageUrls[5] %>" />
				</p>

				<p>
					<a href="javascript:navigateToComments(5)">COMMENTS:
						<%= commentCounts[5] %>
					</a>
				</p>
			</div>
		</a>
</div>